.todo-board {
  background-color: red;

  .header {
    margin: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .boards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
}
