.card {
  border-radius: 5px;
  background: #efefef;
  padding: 10px;
  min-width: 280px;

  .header {
    display: flex;
    justify-content: space-between;

    span {
      margin-right: 10px;
    }

    button {
      height: 20px;
    }
  }

  select {
    margin-top: 20px;
    width: 100%;
  }
}